
body {
	background-color: linen;
}

* {
    box-sizing: border-box;
}

p {
/*	font-family: 'Rubik', sans-serif;*/
  font-family: 'Lato', sans-serif;
	text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

h1 {
  font-family: 'Playfair Display', serif;
  
}
<<<<<<< HEAD
h2, h3, h4, h5 { 
=======

h2, h3, h4, h5 {
>>>>>>> 98217fefa0ef319a97e823fb684e76b56a21ddd0
    font-family: 'Rubik', sans-serif;
}

<<<<<<< HEAD
.wrapper-main {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-main > div {
    font-size: 3vh;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    }

.wrapper-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-portfolio > div {
    font-size: 3vh;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    }

.portfolio-name{
	flex: 1;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    align-content: center;
}

.portfolio-details {
    flex: 1;
    vertical-align: middle;
}

.portfolio-image {
    flex: 1;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    align-content: center;
}

/*Photos*/

.profile-photo {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: .5em;
	object-fit: cover;
    border-radius: 50%;
    float: right;
    display: block;
}

.project-photo {
    width: 600px;
    height: 300px;
    color: transparent;


.position-1 {
    flex: 1;
    flex-grow: 1;
    font-size: 22px;
    margin-top: auto;
    text-align: left;
    vertical-align: middle;
}

.position-2 {
    flex: 1;
    flex-grow: 1;
    font-size: 22px;
    margin-top: auto;
    text-align: left;
    vertical-align: middle;
    position: absolute;


.name {
    flex: 1;
    font-size: 44px;
    margin-top: auto;
    text-align: left;
    vertical-align: middle;
}

.about-me{
    font-size: 16px;
    text-align: left;
}

/*Navigation bar*/

=======
/*navigation bar*/
>>>>>>> 98217fefa0ef319a97e823fb684e76b56a21ddd0
ul{
	list-style-type: none;
}

ul#horizontal-list {
	list-style: none;
	padding-top: 20px;
	}

.brand{
	margin-left: .5em;
	padding-left: .5em ;
}

ul#horizontal-list li {
	display: inline;
}

.social-icon{
	padding-left: 1px;
	padding-right: 1px;
	margin-left: .5em;
	margin-right: .5em;
}

<<<<<<< HEAD
.divider---black {
=======
/*wrapper-main css*/
.wrapper-main {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-main > div {
    font-size: 3vh;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    }

.item-1 {
    flex: 1;
    vertical-align: middle;
}

.item-2 {
    flex: 1;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    align-content: center;
}

.profile-photo {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 0 auto;
    padding: .5em;
    object-fit: cover;
    border-radius: 50%;
    float: inline-end;
    display: block;
}

.name {
    flex: 1;
    font-size: 44px;
    color: maroon;
    margin-top: auto;
    text-align: left;
    vertical-align: middle;
}

.job-title {
    flex: 1;
    flex-grow: 1;
    font-size: 22px;
    margin-top: auto;
    text-align: left;
    vertical-align: middle;
}

.about-me{
    font-size: 16px;
    text-align: left;
    align-items: center;
    justify-content: left;
}

/*divider */
.divider---full---black {
>>>>>>> 98217fefa0ef319a97e823fb684e76b56a21ddd0
    width: 100%;
    height: 1px;
    background-color: #222;
    margin: 96px auto 0;
    padding-top: 0;
<<<<<<< HEAD
    padding-bottom: 0;
=======
    align-items: center;
}

/*portfolio css*/

.project-photo {
    width: 600px;
    height: 300px;
    color: transparent;

    .wrapper-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-portfolio > div {
    font-size: 3vh;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    }

/*responsive*/
@media (min-width: 900px) {
    .profile-photo .name .job-title .about-me{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
>>>>>>> 98217fefa0ef319a97e823fb684e76b56a21ddd0
}